/lvgl-simulator/build/
/lvgl-simulator/.idea/
/lvgl-simulator/cmake-build-debug-/
/lvgl-simulator/cmake-build-debug-mingw_nxp/
/lvgl-simulator/cmake-build-debug-mingw_nxp_w32/
/lvgl-simulator/cmake-build-release-mingw32/
